@using WebApplication1.Models
@using WebApplication1.Controllers
@model WebApplication1.Models.Test
<style>
	button {
		margin: 6px;
		margin-left: 1px;
		margin-right: 20px;
	}
	input {
		width: 300px;
		height: 30px;
		margin: 5px;
	}
</style>
<main class="text-center">
	<h1 class="text-center">@Model.Name</h1><br/>

	@foreach (var el in Model.Questions)
	{
				<h6>Категория: @ViewData[el.Category]</h6>
		
				<p>Кол-во вопросов: @el.Quantity</p>
	}
	<h5>Время на тест: @Model.Time</h5>

	<label>Код:</label>
	<input id="cop" readonly="readonly"/>
	<button class="btn btn-dark" type="button" id="b1">Создать ссылку</button> 
	<div id="mess"></div>
</main>

<script type="text/javascript">
	$('#b1').click(function() {
		id = String("@Model.Id");
		$.ajax({
			type: 'GET',
			url:'/test/GetUrl?id=' + id,
			dataType: 'json',
			success: function(data) {
				let url = data.id;
				$("#cop").attr("value", url);
				var copyText = document.getElementById("cop");
				copyText.select();
				document.execCommand("copy");
				$("#mess").empty();
				$("#mess").show(0);
				$("#mess").append($('<p>',
					{
						'text': 'Код скопирован в буфер обмена'
					}));
				$("#mess").css('margin-left','180px');
				$("#mess").hide(3000);
			}
		});
		
	});
</script>